@use 'variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: $spacing-md;
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;

    @media (max-width: $tablet) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2.5rem;
    color: $primary-color;

    @media (max-width: $tablet) {
        font-size: 2rem;
    }
}

p {
    margin-bottom: $spacing-md;
    font-size: 1.1rem;
}

.gradient-text {
    background: linear-gradient(135deg, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}